.search {
  border: 3px solid black;
  border-radius: 40px;
  float: right;
  height: 11px;
  margin-top: 23px;
  transition: all 0.3s ease;
  width: 11px;
  &:hover, .icon-h:hover {cursor: pointer;}
  &:not(.s-active) > input {
    margin-left: -10px;
    visibility: hidden;
    width: 0%;
  }
}
.icon-h {
  background-color: black;
  border-radius: 2px;
  height: 3px;
  position: relative; float: right;
  transform: rotate(49deg) translateX(15px) translateY(4px);
  transition: all 0.3s ease-out;
  width: 11px;
}
.s-active {
  background-color: rgba(255,255,255, 0.1);
  border: 2px solid rgba(0,0,0,0.65);
  height: 30px;
  margin-top: 17px;
  transition: all;
  transition-duration: .4s;
  transition-timing-function: ease;
  width: 160px;
  .icon-h {
    height: 2px;
    transition: all 0.4s ease-out;
  }
  .h1 {transform: translateY(15px) translateX(-10px) rotate(45deg);}
  .h2 {transform: translateX(1px) translateY(15px) rotate(135deg);}
  input {
    background-color: rgba(0,0,0,0);
    border: 0px;
    font-size: 0.9em;
    height: 95%;
    margin-left: 10px;
    margin-top: 0px;
    outline: none;
    transition: all 0s; transition-delay: 0.4s;
    width: 80%;
    &::placeholder {color: rgba(0,0,0,0.65);}
  }
}
.search:not(.s-active) {
  margin-right: 8px;
  .h2 {
    opacity: 0;
    transform: translateX(10px) translateY(13px) rotate(20deg);
    transition: all 0.15s ease-out;
  }
}